aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
asgiref==3.4.1
asn1crypto==1.4.0
async-timeout==4.0.1
asynctest==0.13.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
cachetools==4.2.4
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.8
click==8.0.3
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
contextlib2==21.6.0
contextvars==2.4
cryptography==2.1.4
fastapi==0.73.0
fastapi-sessions==0.3.2
frozenlist==1.2.0
greenlet==1.1.2
grpcio==1.42.0
grpcio-status==1.42.0
h11==0.13.0
httplib2==0.20.2
hyperlink==17.3.1
idna==3.3
idna-ssl==1.1.0
immutables==0.16
importlib-metadata==4.8.2
incremental==16.10.1
itsdangerous==2.0.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
multidict==5.2.0
netifaces==0.10.4
numpy==1.19.5
oauthlib==2.0.6
packaging==21.3
PAM==0.4.2
pandas==1.1.5
pg8000==1.23.0
proto-plus==1.19.8
protobuf==3.19.1
psycopg2==2.7.7
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pydantic==1.9.0
PyGObject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==3.0.6
pyserial==3.4
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.2
python-debian==0.1.32
python-multipart==0.0.5
pytz==2021.3
pyxdg==0.25
PyYAML==3.12
requests==2.26.0
requests-unixsocket==0.1.5
rsa==4.8
scramp==1.4.1
SecretStorage==2.3.1
service-identity==16.0.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.27
ssh-import-id==5.7
starlette==0.17.1
systemd-python==234
Twisted==17.9.0
typing_extensions==4.0.1
ufw==0.36
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
websockets==9.1
yarl==1.7.2
zipp==3.6.0
zope.interface==4.3.2
